.wrapper {
  position: relative;

  .infoWrap {
    display: grid;
    grid-template-columns: auto 400px;
    grid-template-rows: auto;
    grid-template-areas: 
      'info image'
      'desc desc';
    .info {
      grid-area: info;
      padding: 0px 0px 0px 30px;
      display: flex;
      flex-direction: column;
      > div {
        width: max-content;
      }
      > div:not(:first-child) {
        margin-left: 15px;
        margin-top: 8px;
      }
      .title {
        font-size: 24px;
        margin-bottom: 10px;
      }
      .line {
        color: #a0a0a0;
        .lineInfo {
          color: rgb(255, 255, 255);
          font-weight: bold;
          margin-left: 8px;
        }
      }
      .date {
        color: rgb(255, 255, 255);
        font-weight: bold;
      }
    }
  }
  .imageWrap {
    grid-area: image;
    display: flex;
    flex-direction: column;   
    font-size: 14px;
    border-left: 1px solid #616161;
    .image {
      width: 320px;
      display: inline-block;
      margin: 0 auto;
    }
    .buttons {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 15px;
      margin-bottom: 15px;
      .button {
        background-color: #3e3e3e;
        transition: .2s background-color;
        &.added {
          background-color: brown;
        }
        &:hover {
          cursor: pointer;
          background-color: #555555;
          &.added {
            background-color: rgb(139, 36, 36);
          }
        }
        &.star {
          width: 33px;
          height: 33px;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-right: 7px;
          font-size: 38px;
          background-color: transparent;
          transition: .2s color;
          &.added {
            color: #d6ab0e;
          }
          &:hover {
            background-color: transparent;
            color: #8f8954;
            &.added {
              color: #927a24;
            }
          }
        }
      }
      > div:not(:first-child) {
        padding: 8px 12px;
        margin-left: 10px;
      }
    }
  }
  .descriptionWrap {
    grid-area: desc;
    border-top: 1px solid #616161;
    padding: 15px;
    .title {
      font-size: 22px;
      margin-bottom: 10px;
    }
    .text {
      margin-left: 10px;
      line-height: 22px;
    }
  }
}