.wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: row;
  height: 267px;
  &.withTitle {
    margin-top: 30px;
  }
  .buttonLeft,
  .buttonRight {
    display: flex;
    align-items: center;
    height: 100%;
    border-radius: 4px;
    background-color: var(--dark-block);
    transition: 0.2s background-color;
    &:hover {
      background-color: var(--dark-block-hover);
      cursor: pointer;
    }
    img {
      width: 35px;
      height: 35px;
    }
  }
  .buttonLeft {
    justify-content: flex-end;
    margin-right: 10px;
    position: relative;
    img {
      transform: rotate(90deg);
    }
    .title {
      position: absolute;
      top: -30px;
      left: 10px;
      font-size: 22px;
      pointer-events: none;
      color: var(--dark-font);
    }
  }
  .buttonRight {
    justify-content: flex-start;
    margin-left: 10px;
    img {
      transform: rotate(-90deg);
    }
  }
  .scrollBlock {
    position: relative;
    overflow: hidden;
    width: 910px;
    height: 267px;
    .listWrap {
      position: absolute;
      display: flex;
      flex-direction: row;
      top: 0px;
      transition: 0.3s transform;
      .item {
        position: relative;
        border: 1px solid transparent;
        border-radius: 4px;
        width: 188px;
        height: 265px;
        display: flex;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        &:not(:first-child) {
          margin-left: 15px;
        }
      }
    }
  }
  .noItems {
    margin-left: 30px;
    height: 50px;
    display: flex;
    align-items: center;
  }
}

@media(min-width: 1601px) {
  .wrapper {
    .scrollBlock {
      width: 1203px;
    }
  }
}
@media(max-width: 1600px) {
  .wrapper {
    .scrollBlock {
      width: 1000px;
    }
  }
}
@media(max-width: 1335px) {
  .wrapper {
    .scrollBlock {
      width: 797px;
    }
  }
}
@media(max-width: 1135px) {
  .wrapper {
    .scrollBlock {
      width: 594px;
    }
  }
}
@media(max-width: 750px) {
  .wrapper {
    .scrollBlock {
      width: 390px;
    }
  }
}