.wrapper {
  background-color: var(--dark-block);
  border-radius: 4px;
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  box-sizing: border-box;
  padding: 15px;
  font-size: 15px;
  color: var(--dark-font);
  &:not(:first-child) {
    margin-top: 15px;
  }
  transition: 0.2s background-color;
  &:hover {
    background-color: var(--dark-block-hover);
  }
  // &.done {
  //   background-color: #36363c;
  //   &:hover {
  //     background-color: #3a3a42;
  //   }
  // }
  .imgLink {
    transition: 0.2s box-shadow;
    border-radius: 4px;
    &.list {
      max-width: 120px;
      max-height: 120px;
    }
    &.medium_list {
      max-width: 175px;
      max-height: 235px;
    }
    &:hover {
      box-shadow: 0px 0px 2px 3px var(--dark-img-hover);
    }
    .image {
      max-width: inherit;
      max-height: inherit;
      border-radius: 4px;
      display: block;
      min-width: 50px;
      min-height: 50px;
    }
  }
  .info {
    padding: 0px 0px 0px 30px;
    display: flex;
    flex-direction: column;
    &.placeForButtons {
      padding-right: 150px;
    }
    .title {
      font-size: 24px;
      width: fit-content;
      a {
        text-decoration: none;
        color: var(--dark-font);
        transition: 0.2s color;
        &:hover {
          color: var(--dark-font-hover);
        }
      }
    }
    .line {
      color: var(--dark-font-2);
      width: fit-content;
      margin-left: 15px;
      margin-top: 8px;
      .data {
        color: var(--dark-font);
        font-weight: bold;
        margin-left: 8px;
        .genreEl {
          display: inline-block;
        }
      }
    }
    .buttonSwitcher {
      position: absolute;
      right: 10px;
      bottom: 10px;
      font-size: 12px;
    }
    .stars {
      position: absolute;
      right: 10px;
      top: 10px;
    }
  }
  &.tile {
    padding: 0;
    border: 1px solid transparent;
    transition: .2s border;
    border-radius: 0px;
    &:hover {
      border: 1px solid var(--dark-border-hover);
    }
    .image {
      width: 100%;
    }
    .text {
      position: absolute;
      bottom: 0px;
      left: 0px;
      width: 100%;
      background-color: var(--dark-transparent-block);
      color: var(--dark-font);
      padding: 5px 5px 10px;
      box-sizing: border-box;
      font-size: 11px;
      .title {
        font-size: 15px;
      }
      .line {
        margin-top: 5px;
      }
    }
    &.descriptionOnHover {
      overflow: hidden;
      .text {
        transform: translateY(100%);
        transition: .1s transform;
      }
      &:hover {
        .text {
          transform: translateY(0);
        }
      }
    }
  }
}