.wrapper {
  color: rgb(219, 219, 219);
  .name {
    font-size: 22px;
    margin-bottom: 15px;
  }
  .animationTitle,
  .animationSubTitle,
  .animationWrap {
    display: flex;
    align-items: center;
    height: 42px;
    width: 100%;
    background-color: #292929;
    padding: 0px 10px;
    border-bottom: 1px solid #2f2f2f;
    box-sizing: border-box;
  }
  .animationTitle {
    margin-top: 20px;
    margin-bottom: 5px;
    height: 52px;
    span {
      font-size: 25px;
    }
    .angle {
      width: 30px;
    }
  }
  .animationSubTitle {
    font-size: 15px;
    padding-left: 30px;
    span {
      font-size: 18px;
    }
    .angle {
      width: 20px;
    }
  }
  .animationSubTitle,
  .animationTitle {
    transition: 0.2s background-color, 0.3s height;
    opacity: 1;
    visibility: visible;
    &:hover {
      cursor: pointer;
      background-color: #2e2e2e;
    }
    .angle {
      margin-left: 10px;
      transition: .3s transform;
      transform: rotate(0deg);
      &.reverse {
        transform: rotate(-180deg);
      }
    }
  }
  .animationBlock {
    transition: 0.2s visibility, 0.2s opacity, 0.3s height;
    opacity: 1;
    visibility: visible;
    .animationInnerBlock {
      display: flex;
      flex-direction: column;
      margin-bottom: 5px;
      transition: 0.3s height;
    }
    .animationWrap {
      transition: 0.2s visibility, 0.2s opacity, 0.3s height;
      opacity: 1;
      visibility: visible;
      display: flex;
      align-items: center;
      height: 220px;
      .animationListWrap {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        .animationItem {
          border: 1px solid transparent;
          border-radius: 4px;
          overflow: hidden;
          width: 14.5%;
          height: 200px;
          display: flex;
          justify-content: center;
          align-items: center;
          position: relative;
          transition: 0.2s border, 0.3s height;
          &:hover {
            border: 1px solid #888888;
          }
          &:not(:first-child) {
            margin-left: 15px;
          }
          .image {
            min-width: 100%;
            min-height: 100%;
            border-radius: 4px;
          }
        }
        .restAnimation {
          background-color: #313131;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          border-radius: 4px;
          width: 14.5%;
          margin-left: 15px;
          color: #969696;
          text-decoration: none;
          transition: 0.2s background-color, 0.1s width, 0.1s height;
          &:hover {
            background-color: #3f3f3f;
          }
        }
      }
      .loading {
        height: 100px;
        width: 100%;
        font-size: 18px;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          width: 40px;
          height: 40px;
          animation-name: rotation;
          animation-duration: 1.5s;
          animation-iteration-count: infinite;
          animation-timing-function: ease-in-out;
        }
      }
      .noItems {
        margin-left: 30px;
        height: 50px;
        display: flex;
        align-items: center;
        transition: 0.3s height;
      }
      &.empty {
        height: 80px;
      }
      &.hide {
        opacity: 0;
        visibility: hidden;
        height: 0px;
        .animationListWrap {
          .animationItem {
            height: 0px;
            img {
              height: 0px;
            }
          }
        }
        .noItems {
          height: 0px;
        }
      }
    }
    &.hide {
      opacity: 0;
      visibility: hidden;
      .animationInnerBlock {
        height: 0px;
        .animationSubTitle {
          opacity: 0;
          visibility: hidden;
        }
        .animationWrap {
          opacity: 0;
          visibility: hidden;
          height: 0px;
          .animationListWrap {
            .animationItem {
              height: 0px;
              img {
                height: 0px;
                min-height: auto;
              }
            }
          }
          .noItems {
            height: 0px;
          }
        }
      }
    }
  }
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
