.wrapper {
  color: rgb(219, 219, 219);
  .name {
    font-size: 22px;
    margin-bottom: 15px;
  }
  .animationTitle {
    border-top: 1px solid #2f2f2f;
    margin-top: 20px;
  }
  .animationSubTitle {
    margin: 10px 0px 10px 10px;
  }
  .animationWrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    .animationItem {
      border: 1px solid transparent;
      border-radius: 4px;
      width: 162px;
      height: 220px;
      transition: .2s border, .1s width, .1s height;
      &:hover {
        border: 1px solid #888888;
      }
      &:not(:first-child) {
        margin-left: 15px;
      }
      .image {
        width: inherit;
        height: inherit;
        border-radius: 4px;
      }
    }
    .restAnimation {
      background-color: #272727;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      border-radius: 4px;
      width: 162px;
      height: 220px;
      margin-left: 15px;
      color: #969696;
      text-decoration: none;
      transition: .2s background-color, .1s width, .1s height;
      &:hover {
        background-color: #313131;
      }
    }
    .loading {
      height: 100px;
      width: 100%;
      font-size: 18px;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: 40px;
        height: 40px;
        animation-name: rotation;
        animation-duration: 1.5s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
      }
    }
  }
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 1325px) {
  .wrapper {
    .animationWrap {
      .animationItem {
        width: 140px;
        height: 195px;
      }
      .restAnimation {
        width: 140px;
        height: 195px;
      }
    }
  }
}
@media (max-width: 1194px) {
  .wrapper {
    .animationWrap {
      .animationItem {
        width: 118px;
        height: 165px;
      }
      .restAnimation {
        width: 118px;
        height: 165px;
      }
    }
  }
}