.wrapper {
  color: var(--dark-font);
  .name {
    font-size: 22px;
    margin-bottom: 15px;
  }
  .sectionTitle,
  .subTitle,
  .sectionWrap {
    display: flex;
    align-items: center;
    height: 42px;
    width: 100%;
    background-color: var(--dark-block);
    padding: 0px 10px;
    border-bottom: 1px solid var(--dark-border);
    box-sizing: border-box;
  }
  .sectionTitle {
    margin-top: 20px;
    margin-bottom: 5px;
    height: 52px;
    span {
      font-size: 25px;
    }
    .angle {
      width: 30px;
    }
  }
  .subTitle {
    font-size: 15px;
    padding-left: 30px;
    span {
      font-size: 18px;
    }
    .count {
      margin-left: 5px;
    }
    .angle {
      width: 20px;
    }
  }
  .subTitle,
  .sectionTitle {
    transition: 0.2s background-color, 0.3s height;
    opacity: 1;
    visibility: visible;
    &:hover {
      cursor: pointer;
      background-color: var(--dark-block-hover);
    }
    .angle {
      margin-left: 10px;
      transition: 0.3s transform;
      transform: rotate(0deg);
      &.reverse {
        transform: rotate(-180deg);
      }
    }
  }
  .block {
    transition: 0.2s visibility, 0.2s opacity, 0.3s height;
    opacity: 1;
    visibility: visible;
    .blockInner {
      display: flex;
      flex-direction: column;
      margin-bottom: 5px;
      transition: 0.3s height;
    }
    .sectionWrap {
      opacity: 1;
      visibility: visible;
      display: flex;
      align-items: center;
      height: 100%;
      padding: 0 1% 1% 1%;
      .listWrap {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        .item {
          position: relative;
          width: 14.5%;
          margin-left: 2%;
          margin-top: 2%;
          min-width: 180px;
        }
        .restItems {
          background-color: var(--dark-button);
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          border-radius: 4px;
          width: 14.5%;
          margin-left: 2%;
          margin-top: 2%;
          min-width: 180px;
          min-height: 230px;
          color: var(--dark-font-2);
          text-decoration: none;
          transition: 0.1s background-color;
          &:hover {
            background-color: var(--dark-button-hover);
          }
        }
      }
      .loading {
        height: 100px;
        width: 100%;
        font-size: 18px;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          width: 40px;
          height: 40px;
          animation-name: rotation;
          animation-duration: 1.5s;
          animation-iteration-count: infinite;
          animation-timing-function: ease-in-out;
        }
      }
      .noItems {
        margin-left: 30px;
        height: 50px;
        display: flex;
        align-items: center;
        transition: 0.3s height;
      }
      &.empty {
        height: 80px;
      }
      &.hide {
        opacity: 0;
        visibility: hidden;
        height: 0px;
        padding: 0px;
        .listWrap {
          .item {
            height: 0%;
            img {
              min-height: 0%;
            }
          }
        }
        .noItems {
          height: 0px;
        }
      }
    }
    &.hide {
      opacity: 0;
      visibility: hidden;
      .blockInner {
        height: 0px;
        .subTitle {
          opacity: 0;
          visibility: hidden;
        }
        .sectionWrap {
          opacity: 0;
          visibility: hidden;
          height: 0px;
          padding: 0;
          .listWrap {
            .item {
              height: 0px;
              img {
                height: 0px;
                min-height: auto;
              }
            }
          }
          .noItems {
            height: 0px;
          }
        }
      }
    }
  }
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}