.wrapper {
  display: flex;
  flex-direction: row;
  z-index: 1;
  .button {
    background-color: #464646;
    color: rgb(255, 255, 255);
    font-size: 13px;
    transition: 0.2s background-color, .2s height;
    position: relative;
    overflow: hidden;
    height: 32px;
    &.sortBy {
      background-color: #464646;
    }
    &:not(:first-child) {
      margin-left: 10px;
    }
    .arrow {
      &.reverse {
        transform: rotate(180deg);
      }
    }
    &:hover {
      height: 64px;
    }
    a {
      text-decoration: none;
      color: white;
      position: relative;
      display: flex;
      flex-direction: column;
      &.reverse {
        flex-direction: column-reverse;
      }
    }
    .subButton {
      height: 32px;
      padding: 0 8px;
      background-color: rgb(53, 53, 53);
      display: flex;
      justify-content: center;
      align-items: center;
      transition: 0.2s background-color;
      &:hover {
        background-color: #ef4d6e;
        cursor: pointer;
      }
      &.active {
        background-color: #ef4d6e;
      }
    }
  }
  .sortBy {
    padding: 8px;
    height: fit-content;
    pointer-events: none;
  }
}
