.wrapper {
  display: flex;
  flex-direction: row;
  .sortBy {
    padding: 8px;
  }
  .button {
    background-color: #464646;
    color: rgb(255, 255, 255);
    user-select: none;
    font-size: 13px;
    transition: 0.2s background-color;
    &.sortBy {
      background-color: #464646;
    }
    &:not(:first-child) {
      margin-left: 10px;
        &:hover {
          background-color: #ef4d6e;
          cursor: pointer;
        }
    }
    &.active {
      background-color: #ef4d6e;
    }
    .arrow {
      &.reverse {
        transform: rotate(180deg);
      }
    }
  a {
    text-decoration: none;
    color: white;
    display: flex;
    flex-direction: row;
    padding: 8px;
    .arrow {
      width: 16px;
      height: 16px;
    }
  }
  }
}