.wrapper {
  position: relative;
  box-sizing: border-box;
  border-radius: 4px;
  background-color: var(--dark-block);
  padding: 12px;
}

@media (max-width: 950px) {
  .wrapper {
    display: none;
  }
}