.wrapper {
  position: relative;
  margin-top: 20px;
  .title {
    font-size: 14px;
    margin-bottom: 10px;
  }
  .dropdownsWrap {
     .dropdown:not(:first-child) {
      margin-top: 15px;
    }
    .dropdown {
      &.closed {
        .dropdownBlock {
          display: none;
        }
      }
      .button {
        position: relative;
        font-size: 15px;
        border: 1px solid rgb(255, 255, 255);
        padding: 8px 0px 8px 20px;
        transition: .2s background-color;
        &:hover {
          cursor: pointer;
          background-color: #292929;
        }
        div {
          display: inline-block;
          position: absolute;
          right: 10px;
          top: 7px;
        }
      }
      .dropdownBlock {
        left: 0px;
        top: 0px;
        position: relative;
        .dropdownButton {
          display: flex;
          flex-direction: column;
          font-size: 14px;
          background-color: #464646;
          transition: .2s background-color;
          &:not(:last-child) {
            border-bottom: 1px solid grey;
          }
          &:last-child {
            border-bottom-right-radius: 5px;
            border-bottom-left-radius: 5px;
          }
          &:hover {
            cursor: pointer;
            background-color: #686868;
          }
          &.active {
            pointer-events: none;
            background-color: #ef4d6e;
          }
          a {
            text-decoration: none;
            color: white;
            padding: 8px 0px 8px 35px;
            padding-left: 30px;
          }
        }
      }
    }
  }

}
