.wrapper {
  box-sizing: border-box;
  border-radius: 4px;
  font-size: 14px;
  color: #e2e2e2;
  background-color: #2b2b2b;
  margin-top: 15px;
  padding: 10px;

  .title {
    font-size: 14px;
    margin-bottom: 10px;
    margin-left: 5px;
  }

  .currentFilters {
    margin-bottom: 10px;
    .filter {
      background-color: #464646;
      border-radius: 4px;
      font-size: 13px;
      padding: 8px 10px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      &:not(:first-child) {
        margin-top: 10px;
      }
      .cancelButton {
        width: 17px;
        height: 17px;
        float: right;
        &:hover {
          cursor: pointer;
        }
      }
    }
    .userFilter {
      .name {
        transition: 0.2s color;
        color: #dadada;
        text-decoration: none;
        &:hover {
          color: #8f8f8f;
          cursor: pointer;
        }
        display: inline-block;
        width: 130px;
      }
    }
    .currentFilter {
      .text {
        display: inline-block;
        width: 130px;
      }
    }
  }

  .dropdownsWrap {
    .dropdown:not(:first-child) {
      margin-top: 10px;
    }

    .dropdown {
      .button {
        position: relative;
        font-size: 15px;
        background-color: #333333;
        padding: 8px 0px 8px 20px;
        transition: 0.2s background-color;

        &:hover {
          cursor: pointer;
          background-color: #3f3f3f;
        }

        div {
          display: inline-block;
          position: absolute;
          right: 10px;
          top: 7px;
        }
      }

      .dropdownBlock {
        left: 0px;
        top: 0px;
        position: relative;
        transition: 0.3s height;
        overflow: hidden;

        .dropdownButton {
          display: flex;
          align-items: center;
          height: 30px;
          font-size: 13px;
          background-color: #3a3a3a;
          transition: 0.2s background-color;

          &:not(:last-child) {
            border-bottom: 1px solid #505050;
          }

          &:hover {
            cursor: pointer;
            background-color: #4b4b4b;
          }

          &.active {
            pointer-events: none;
            background-color: #ef4d6e;
          }

          a {
            text-decoration: none;
            color: white;
            padding-left: 20px;
          }
        }
      }
    }
  }
}
