.wrapper {
  position: relative;
  background-color: rgb(43, 42, 42);
  border-bottom: 1px solid rgb(156, 156, 156);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  user-select: none;
  height: inherit;
  .item {
    display: inline-block;
    line-height: 58px;
    padding: 0 20px;
      color: white;
      text-decoration: none;
      transition: .2s color;
      text-shadow: 2px 2px 2px rgb(128, 128, 128);
      &:hover {
        color: rgb(170, 170, 170);
      }
  }
  .item:not(:first-child) {
    border-left: 1px solid #313131;
  }
}