.wrapper {
  position: relative;
  background-color: var(--dark-header);
  border-bottom: 1px solid var(--dark-border-3);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  height: inherit;
  display: flex;
  flex-direction: row;
  .item {
    position: relative;
    display: inline-flex;
    line-height: 58px;
    height: 58px;
    align-items: center;
    transition: 0.2s background-color;
    text-shadow: 2px 2px 2px var(--dark-font-2);
    &:hover {
      background-color: var(--dark-transparent-block-2);
    }
    .link {
      padding: 0 20px;
      color: var(--dark-font);
      text-decoration: none;
      display: inline-flex;
      align-items: center;
    }
    .homeImg {
      width: 30px;
      height: 30px;
    }
    .menuImg {
      width: 14px;
      height: 14px;
      margin-left: 5px;
    }
    .dropdownWrap {
      position: absolute;
      top: 100%;
      left: 0px;
      z-index: 12;
      display: flex;
      flex-wrap: wrap;
      width: 355px;
      flex-direction: row;
      opacity: 0;
      visibility: hidden;
      &.visible {
        opacity: 1;
        visibility: visible;
      }
      .dropdown {
        background-color: var(--dark-block-3);
        border-top: 1px solid var(--dark-border);
        width: 175px;
        height: 45px;
        display: flex;
        align-items: center;
        padding-left: 15px;
        box-sizing: border-box;
        transition: 0.1s background-color;
        &:nth-child(even) {
          border-left: 1px solid var(--dark-border);
        }
        &:hover {
          cursor: pointer;
          background-color: var(--dark-block-3-hover);
        }
      }
    }
  }
  .item:not(:first-child) {
    border-left: 1px solid var(--dark-border);
  }
  .rightBlock {
    position: absolute;
    right: 0px;
    top: 0px;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    .search, .userMenu {
      height: 100%;
    }
    .search {
      margin-right: 10px;
      display: flex;
      align-items: center;
    }
  }
}
