.wrapper {
  position: relative;
  background-color: rgb(43, 42, 42);
  border-bottom: 1px solid rgb(156, 156, 156);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  height: inherit;
  display: flex;
  flex-direction: row;
  .item {
    display: inline-flex;
    line-height: 58px;
    height: 58px;
    padding: 0 20px;
    align-items: center;
      color: white;
      text-decoration: none;
      transition: .2s color;
      text-shadow: 2px 2px 2px rgb(128, 128, 128);
      &:hover {
        color: rgb(170, 170, 170);
      }
      img {
        width: 30px;
        height: 30px;
      }
  }
  .item:not(:first-child) {
    border-left: 1px solid #313131;
  }
}