.wrapper {
  box-sizing: border-box;
  border-radius: 4px;
  font-size: 14px;
  color: var(--dark-font);
  background-color: var(--dark-block);
  padding: 10px;

  .title {
    font-size: 14px;
    margin-bottom: 10px;
    margin-left: 5px;
  }

  .currentFilters {
    margin-bottom: 10px;
  }

  .dropdownsWrap {
    .dropdown:not(:first-child) {
      margin-top: 10px;
    }
  }
}

@media (max-width: 950px) {
  .wrapper {
    display: flex;
    flex-direction: row;
    padding: 0;
    z-index: 11;
    background-color: var(--dark-block);
    width: 80%;
    .dropdownsMobile {
      width: 100%;
    }
    .dropdownsWrap {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      height: -webkit-fill-available;
      width: -moz-available;
      .dropdown {
        height: fit-content;
        width: -webkit-fill-available;
        width: -moz-available;
        &:not(:first-child) {
          margin-top: 0;
        }
      }
    }
    .currentFilters {
      margin-bottom: 0;
    }
  }
}

@media (max-width: 700px) {
  .wrapper {
    width: 88%;
    border-radius: 0px;
  }
}
