.wrapper {
  box-sizing: border-box;
  border-radius: 4px;
  font-size: 14px;
  color: var(--dark-font);
  background-color: var(--dark-block);
  padding: 10px;

  .title {
    font-size: 14px;
    margin-bottom: 10px;
    margin-left: 5px;
  }

  .currentFilters {
    margin-bottom: 10px;
    .filter {
      background-color: var(--dark-block-2);
      border: 1px solid var(--pink-button-selected);
      border-radius: 4px;
      font-size: 13px;
      padding: 7px 10px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      &:not(:first-child) {
        margin-top: 10px;
      }
      .cancelButton {
        width: 17px;
        height: 17px;
        float: right;
        &:hover {
          cursor: pointer;
        }
      }
    }
    .searchItem {
      &.hide {
        opacity: 0;
        display: none;
      }
    }
    .userFilter {
      .name {
        transition: 0.2s color;
        color: var(--dark-font);
        text-decoration: none;
        &:hover {
          color: var(--dark-font-hover);
          cursor: pointer;
        }
      }
    }
    .currentFilter {
      .text {
        display: inline-block;
        width: 130px;
      }
    }
  }

  .dropdownsWrap {
    .dropdown:not(:first-child) {
      margin-top: 10px;
    }

    .dropdown {
      .button {
        position: relative;
        font-size: 15px;
        background-color: var(--dark-button);
        padding: 8px 0px 8px 20px;
        transition: 0.2s background-color;
        &:hover {
          cursor: pointer;
          background-color: var(--dark-button-hover);
        }
        div {
          display: inline-block;
          position: absolute;
          right: 10px;
          top: 7px;
        }
      }
      .dropdownBlock {
        left: 0px;
        top: 0px;
        position: relative;
        transition: 0.3s height;
        overflow: hidden;
        .dropdownButton {
          display: flex;
          align-items: center;
          height: 30px;
          font-size: 13px;
          background-color: var(--dark-button);
          transition: 0.2s background-color;
          &:not(:last-child) {
            border-bottom: 1px solid var(--dark-border-2);
          }
          &:hover {
            cursor: pointer;
            background-color: var(--dark-button-hover);
          }

          &.active {
            pointer-events: none;
            background-color: var(--pink-button-selected);
          }

          a {
            text-decoration: none;
            color: var(--dark-font);
            padding-left: 20px;
            padding-right: 5px;
          }
        }
      }
    }
  }
}

@media (max-width: 950px) {
  .wrapper {
    display: flex;
    flex-direction: row;
    padding: 0;
    z-index: 11;
    background-color: var(--dark-block);
    width: 80%;
    .dropdownsMobile {
      width: 100%;
    }
    .dropdownsWrap {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      height: -webkit-fill-available;
      width: -moz-available;
      .dropdown {
        height: fit-content;
        width: -webkit-fill-available;
        width: -moz-available;
        &:not(:first-child) {
          margin-top: 0;
          .button {
            border-left: 1px solid var(--dark-button);
          }
        }
        .button {
          padding: 0 10px 0 20px;
          height: 48px;
          display: flex;
          align-items: center;
          background-color: var(--dark-block);
          &:hover {
            cursor: pointer;
            background-color: var(--dark-block-hover);
          }
          span {
            width: min-content;
          }
          .angle {
            margin-left: 10px;
            width: 20px;
            transition: 0.3s transform;
            transform: rotate(0deg);
            &.reverse {
              transform: rotate(-180deg);
            }
          }
        }
        .dropdownBlock {
          .dropdownButton {
            border: 1px solid var(--dark-border-2);
            border-top: 0px;
          }
        }
      }
    }
    .currentFilters {
      margin-bottom: 0;
    }
  }
}

@media (max-width: 700px) {
  .wrapper {
    width: 88%;
    border-radius: 0px;
  }
}
