@import "./assets/MAIN_COLORS.scss";

.page {
  position: relative;
  margin: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  top: 0px;
  font-family: 'Roboto', 'verdana','ms sans serif',Tahoma,"Source Sans Pro", sans-serif;
  box-sizing: border-box;
  user-select: none;
  .wrapper {
    display: grid;
    grid-template-columns: 220px auto;
    grid-template-rows: 58px auto;
    grid-template-areas: 
      'header header'
      'menu content';
    margin: 0 auto;
    max-width: 1600px;
    height: 100%;
    color: white;
    border-radius: 8px;
    box-shadow: 3px 3px 3px 3px #2c2c2c;
    box-sizing: border-box;
    .header {
      grid-area: header;
      height: 58px;
    }
    .menu {
      grid-area: menu;
      padding: 15px;
      > div:not(:first-child) {
        margin-top: 15px;
      }
    }
    .content {
      grid-area: content;
      padding: 15px 25px 25px 0px;
      min-height: 840px;
    }
  }
  &.black {
    background-color: $bg-scene-black;
    .wrapper {
      background-color: $bg-wrapper-black;
    }
  }
  &.white {
    background-color: $bg-scene-white;
    .wrapper {
      background-color: $bg-wrapper-white;
    }
  }
}

@media (max-width: 950px) {
  .page {
    .wrapper {
      grid-template-columns: auto;
      grid-template-rows: 58px 50px auto;
      grid-template-areas: 
        'header'
        'menu'
        'content';
        .menu {
          padding: 1px 0px 0px;
          display: flex;
          flex-direction: row;
          background-color: rgb(43, 42, 42);
          border-bottom: 1px solid rgb(156, 156, 156);
          > div:not(:first-child) {
            margin-top: 0px;
            border-left: 1px solid #313131;
          }
        }
    }
  }
}