@import "./assets/MAIN_COLORS.scss";

.page {
  position: relative;
  margin: 0px;
  padding-top: 20px;
  padding-bottom: 20px;
  top: 0px;
  box-sizing: border-box;
  .wrapper {
    position: sticky;
    margin: 0 auto;
    width: 1200px;
    height: 100%;
    color: white;
    border-radius: 8px;
    box-shadow: 3px 3px 3px 3px #2c2c2c;
    box-sizing: border-box;
  }
  &.black {
    background-color: $bg-scene-black;
    .wrapper {
      background-color: $bg-wrapper-black;
    }
  }
  &.white {
    background-color: $bg-scene-white;
    .wrapper {
      background-color: $bg-wrapper-white;
    }
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
