@import "./assets/MAIN_COLORS.scss";

.page {
  position: relative;
  margin: 0px;
  padding-top: 20px;
  padding-bottom: 20px;
  top: 0px;
  font-family: 'verdana','ms sans serif',Tahoma,"Source Sans Pro", sans-serif;
  box-sizing: border-box;
  .wrapper {
    display: grid;
    grid-template-columns: 220px auto;
    grid-template-rows: 58px auto;
    grid-template-areas: 
      'header header'
      'menu content';
    margin: 0 auto;
    max-width: 1311px;
    height: 100%;
    color: white;
    border-radius: 8px;
    box-shadow: 3px 3px 3px 3px #2c2c2c;
    box-sizing: border-box;
    .header {
      grid-area: header;
      height: 58px;
    }
    .menu {
      grid-area: menu;
      padding: 15px;
    }
    .content {
      grid-area: content;
      padding: 15px 25px 25px 0px;
      min-height: 840px;
      min-width: 800px;
      max-width: 1066px;
    }
  }
  &.black {
    background-color: $bg-scene-black;
    .wrapper {
      background-color: $bg-wrapper-black;
    }
  }
  &.white {
    background-color: $bg-scene-white;
    .wrapper {
      background-color: $bg-wrapper-white;
    }
  }
}