.wrapper {
  box-sizing: border-box;
  border-radius: 4px;
  font-size: 14px;
  color: #e2e2e2;
  background-color: #2b2b2b;
  .loginBlock {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    border-radius: 4px;
    form {
      width: 100%;
      border-radius: 4px;
      .input {
        margin-left: 10px;
        margin-top: 10px;
        &:not(:first-of-type) {
          margin-top: 10px;
        }
        input {
          width: 169px;
          box-sizing: border-box;
        }
      }
      .buttons {
        button {
          border: none;
          width: 50%;
          border-bottom-left-radius: 4px;
        }
        display: flex;
        justify-content: space-between;
        margin-top: 15px;
        border-top: 1px solid #444343;
        a {
          text-decoration: none;
          width: 50%;
          color: rgb(226, 226, 226);
          border-bottom-right-radius: 4px;
          border-left: 1px solid #444343;
          .button {
            border-bottom-right-radius: 4px;
          }
        }
        .button {
          height: 45px;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: #2b2b2b;
          transition: 0.2s background-color;
          &:hover {
            cursor: pointer;
            background-color: rgb(58, 58, 58);
          }
          &:focus {
            outline: none;
          }
          img {
            height: 30px;
            width: 30px;
          }
        }
      }
    }
    .wrongAuth {
      color: red;
      margin-top: 10px;
      font-size: 12px;
    }
  }
  .wrapperInfoUser {
    .nameBlock {
      padding: 10px 10px 0 10px;
      a {
        margin-left: 10px;
        text-decoration: none;
      }
      .name {
        font-size: 16px;
        font-weight: bold;
        color: rgb(173, 112, 112);
      }
    }
    .title {
      padding-left: 10px;
      border-top: 1px solid #404040;
      margin-top: 5px;
      padding-top: 5px;
    }
    .line {
      display: flex;
      justify-content: space-between;
      width: 65%;
      padding-left: 20px;
    }
    .buttons {
      display: flex;
      justify-content: space-between;
      margin-top: 15px;
      border-top: 1px solid #444343;
      :nth-child(1) {
        border-bottom-left-radius: 4px;
      }
      :nth-child(2) {
        border-bottom-right-radius: 4px;
        width: 50%;
        border-left: 1px solid #444343;
      }
      a {
        text-decoration: none;
        color: rgb(226, 226, 226);
        width: 50%;
      }
      .button {
        height: 32px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.2s background-color;
        &:hover {
          cursor: pointer;
          background-color: rgb(58, 58, 58);
        }
        img {
          height: 22px;
          width: 22px;
        }
      }
    }
  }
}
