.wrapper {
  box-sizing: border-box;
  border-radius: 4px;
  font-size: 14px;
  color: #e2e2e2;
  background-color: #2b2b2b;
  .loginBlock {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    border-radius: 4px;
    form {
      width: 100%;
      border-radius: 4px;
      .input {
        margin-left: 10px;
        margin-top: 10px;
        &:not(:first-of-type) {
          margin-top: 10px;
        }
        input {
          width: 169px;
          box-sizing: border-box;
          border: 0px solid black;
          color: white;
          background-color: #464646;
          padding: 5px;
          transition: 0.1s background-color;
          &:focus {
            outline: none;
            background-color: #535353;
          }
          &:-internal-autofill-selected {
            appearance: menulist-button;
            background-color: #464646 !important;
            background-image: none !important;
            color: white !important;
          }
        }
      }
      .buttons {
        button {
          border: none;
          width: 50%;
          border-bottom-left-radius: 4px;
        }
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
        border-top: 1px solid #444343;
        a {
          text-decoration: none;
          width: 50%;
          color: rgb(226, 226, 226);
          border-bottom-right-radius: 4px;
          border-left: 1px solid #444343;
          .button {
            border-bottom-right-radius: 4px;
          }
        }
        .button {
          position: relative;
          overflow: hidden;
          height: 45px;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: #2b2b2b;
          transition: 0.2s background-color;
          &:hover {
            cursor: pointer;
            background-color: rgb(58, 58, 58);
            .text {
              transform: translateY(0px);
            }
          }
          &:focus {
            outline: none;
          }
          img {
            height: 30px;
            width: 30px;
          }
          .text {
            position: absolute;
            color: white;
            left: 0px;
            top: 0px;
            width: 100%;
            height: 100%;
            font-size: 12px;
            background-color: rgb(58, 58, 58);
            opacity: 0.85;
            transition: 0.2s transform;
            transform: translateY(100%);
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }
      }
    }
    .wrongAuth {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 20px;
      color: #ce3333;
      margin-top: 10px;
      margin-bottom: 10px;
      font-size: 12px;
    }
  }
  .wrapperInfoUser {
    .nameBlock {
      padding: 10px 10px 0 10px;
      a {
        margin-left: 10px;
        text-decoration: none;
      }
      .name {
        font-size: 16px;
        font-weight: bold;
        color: rgb(173, 112, 112);
      }
    }
    .title {
      padding-left: 10px;
      border-top: 1px solid #404040;
      margin-top: 5px;
      padding-top: 5px;
    }
    .line {
      display: flex;
      justify-content: space-between;
      width: 65%;
      padding-left: 20px;
    }
    .buttons {
      display: flex;
      justify-content: space-between;
      margin-top: 15px;
      border-top: 1px solid #444343;
      a {
        text-decoration: none;
        color: rgb(226, 226, 226);
        width: 50%;
        overflow: hidden;
        border-bottom-left-radius: 4px;
      }
      > div {
        border-bottom-right-radius: 4px;
        width: 50%;
        border-left: 1px solid #444343;
      }
      .button {
        position: relative;
        height: 32px;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.2s background-color;
        &:hover {
          cursor: pointer;
          background-color: rgb(58, 58, 58);
          .text {
            transform: translateY(0px);
          }
        }
        img {
          height: 22px;
          width: 22px;
        }
        .text {
          position: absolute;
          left: 0px;
          top: 0px;
          width: 100%;
          height: 100%;
          font-size: 12px;
          background-color: rgb(58, 58, 58);
          opacity: 0.85;
          transition: 0.2s transform;
          transform: translateY(100%);
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }
}
