.wrapper {
  position: relative;
  .registrationBlock {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    .line {
      position: relative;
      margin-top: 8px;
      input {
        width: 210px;
      }
      .error {
        position: absolute;
        left: 225px;
        top: 5px;
        font-size: 11px;
        color: red;
        width: max-content;
      }
      &.button {
        display: flex;
        justify-content: space-between;
      }
    }
  }
}
